/* miner/src/components/Button.module.css */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--main);
  color: var(--main-text);
  border-radius: 2rem;
  font-size: var(--font-size-regular);
  border-top: 1px solid var(--main-text-75);
  filter: var(--btn-shadow);
  transition: 0.2s all;
  box-shadow: 0 0 0 0 #005745;
  filter: brightness(100%);
  transform: scale(1);
}

.button:hover {
  filter: var(--btn-shadow);
  box-shadow: var(--btn-shadow-hover);
  transition: 0.2s all;
  filter: brightness(120%);
}

/* Make keyboard-activated state look the same as :active */
.button:active,
.button[data-active="true"] {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: 0.2s all;
  outline: 2px solid var(--main);
  transform: scale(0.95);
}

.button:focus {
  outline: 2px solid var(--main);
}

/* widths / sizes */
.fullWidth {
  width: 100%;
}

/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.sm {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.md {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.lg {
}

/* variants */
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.primary {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.primary:disabled {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.secondary {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.secondary:disabled {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.ghost {
}
/* biome-ignore lint/suspicious/noEmptyBlock: <explanation> */
.ghost:hover {
}

button:focus {
  outline: 2px solid rgba(11, 95, 255, 0.25);
  outline-offset: 2px;
}
